appdirs==1.4.4
click==8.3.3
click-default-group==1.2.4
iniconfig==2.3.0
lxml==6.1.0
markdown-it-py==4.0.0
mdurl==0.1.2
packaging==26.2
-e git+https://github.com/Veer564/PacketHawk.git@b372c0296f40ab71af1845a1131ae4803a050837#egg=packethawk
pluggy==1.6.0
pyfiglet==1.0.4
Pygments==2.20.0
pyshark==0.6
pytest==9.0.3
python-dateutil==2.9.0.post0
PyYAML==6.0.3
rich==15.0.0
scapy==2.7.0
six==1.17.0
sqlite-fts4==1.0.3
sqlite-utils==3.39
tabulate==0.10.0
termcolor==3.3.0
